.a{
	color:black;
	font-family:verdana;
	font-size:25px;
	text-decoration:none;
}

.font1{
	font-size: 35px;
	color: #159957;
	font-family:verdana;
	padding-left:10px;
}
.bt{
	color:black;
	font-size:50px;
	font-family:verdana;
}
.font2{
	color: #00000;
	font-size:25px;
	font-family:verdana;
	padding-left:35px;
}
.down{
	color: #000000;
	font-size: 20px;
	font-family: verdana;
}
.ablue{
	font-family: verdana;
	color: blue;
	text-decoration: none;
}